
.jumbotron{
    background-image: url("https://wallpapersmug.com/download/1024x768/31bd25/laser-colorful-dots-abstract.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
    color: white;
    font-family: 'Metal Mania', cursive;
}

.nav-link {
    color: rgb(238, 235, 46);
    font-size: 20px;
}

.btnColor {
    background-color:rgb(238, 235, 46) ;
    color: rgb(187, 25, 173);
    opacity: .5;
}



body {
    background-image: url("https://wallpapersmug.com/download/1024x768/31bd25/laser-colorful-dots-abstract.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.card-body {
    padding: 100px;
    background-color: cornflowerblue;
}

.cardName {
    font-family: 'Metal Mania', cursive;
    font-size: 50px;
}


.border-secondary {
    border-width: 10px;
}

.imgSize {
    width: 300px;
    height: 250px;
   
}



p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    
}



.footerColor {
    position: bottom;
    border-style: solid;
    border-width: 1px;
    border-color:blueviolet;
    padding: 3px;
    color: hotpink;
    bottom: 0;
    left: 0;
    width: 100%;
}

